.banner {
  background-image: url("../../images/photo-1537498425277-c283d32ef9db.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-image: linear-gradient(to right, #635dc0, #3027ae); */
  height: 120vmin;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
}

.banner > h1 {
  margin: 4vmax;
  font: 600 2.5vmax;
  font-family: var(--Roboto-font-family);
}

.banner > p {
  font: 300 1.4vmax "Lucida Sans";
}

.banner > a > button {
  margin-bottom: 5vmax;
  cursor: pointer;
  background-color: white;
  border: 1px solid white;
  border-radius: 0;
  padding: 1vmax;
  transform: all 0.5s;
  width: 9vmax;
  font: 500 1vmax;
  font-family: var(--Roboto-font-family);
}

.banner > a > button:hover {
  background-color: rgba(255, 255, 255, 0);
  color: white;
}

.banner::after {
  content: "";
  width: 100vw;
  height: 134vmin;
  background-color: white;
  position: absolute;
  top: 0%;
  left: 0;

  clip-path: polygon(100% 81%, -17% 100%, 100% 100%);
  max-width: 100%;
}
/* @media (min-width:601px) and (max-width:440px) */
@media only screen and (max-width: 599px) {
  .banner::after {
    height: 131vmin;
    clip-path: polygon(100% 79%, -6% 100%, 100% 100%);
  }
}
@media only screen and (max-width: 531px) {
  .banner::after {
    height: 132vmin;
    clip-path: polygon(100% 79%, -6% 100%, 100% 100%);
  }
  .banner > a > button {
    width: 10vmax;
  }
}
@media only screen and (max-width: 466px) {
  .banner::after {
    height: 133vmin;
    clip-path: polygon(100% 79%, -6% 100%, 100% 100%);
  }
}
@media only screen and (max-width: 462px) {
  .banner::after {
    height: 133vmin;
    clip-path: polygon(100% 79%, -6% 100%, 100% 100%);
  }
}
@media only screen and (max-width: 430px) {
  .banner::after {
    height: 134vmin;
    clip-path: polygon(100% 79%, -6% 100%, 100% 100%);
  }
}
@media only screen and (max-width: 399px) {
  .banner::after {
    height: 135vmin;
    clip-path: polygon(100% 79%, -6% 100%, 100% 100%);
  }
}
@media only screen and (max-width: 372px) {
  .banner::after {
    height: 136vmin;
    clip-path: polygon(100% 79%, -6% 100%, 100% 100%);
  }
}
@media only screen and (max-width: 351px) {
  .banner::after {
    height: 137vmin;
    clip-path: polygon(100% 79%, -6% 100%, 100% 100%);
  }
}
@media only screen and (max-width: 326px) {
  .banner::after {
    height: 138vmin;
    clip-path: polygon(100% 79%, -6% 100%, 100% 100%);
  }
}
@media only screen and (max-width: 310px) {
  .banner::after {
    height: 139vmin;
    clip-path: polygon(100% 79%, -6% 100%, 100% 100%);
  }
}

.homeHeading {
  text-align: center;
  font-family: --Roboto-font-family;
  font-size: 1.4vmax;
  border-bottom: 1px solid rgba(21, 21, 21, 0.5);
  width: 20vmax;
  padding: 1vmax;
  margin: 5vmax auto;
  color: rgb(0, 0, 0, 0.7);
}

.container {
  display: flex;
  margin: 2vmax auto;
  width: 80vw;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
}

.productCard {
  width: 14vmax;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: rgb(48, 48, 48);
  margin: 2vmax;
  transition: all 0.5s;
  padding-bottom: 0.5vmax;
}

.productCard > img {
  width: 14vmax;
}

.productCard > div {
  margin: 0.5vmax;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.productCard > div > span:first-child {
  
  font-size: 1.5vmax;
}

.productCardSpan {
  margin: 0.5vmax;
  font: 300 0.6vmax var(--Roboto-font-family);
}

.productCard > p {
  font-family: var(--Roboto-font-family);
  font-size: 1.2vmax;
  margin: 1vmax 0.5vmax;
  margin-bottom: 0;
}

.productCard > span {
  margin: 0.5vmax;
  color: var(--primary-color);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1vmax;
}

.productCard:hover {
  box-shadow: 0 0 5px rgb(15, 15, 15);
  transform: translateY(-1vmax);
}

@media screen and (max-width: 600px) {
  .productCard > p {
    font-size: 1.7vmax;
  }

  .productCard > div {
    margin: 0vmax;
    display: block;
  }
  .productCard > span {
    font-size: 1.5vmax;
  }
  .productCard > div > span {
    margin: 0 0.5vmax;
    font: 300 1vmax var(--Roboto-font-family);
  }
}



/* Cart Button */
/* From uiverse.io */

 .cartButton {
  display: flex;
  justify-content: space-between;
 
  

 }
  
 .button-content > svg {
  
  display:inline;
  width:1.5vmax;
  height: 1.5vmax;
  margin-right: 6px;
  color:#e7e7e7;
  
  transition: transform 0.3s;
 }
 
 .button-content > svg:hover {
  transform: scale(1.2);
  color:rgb(209, 27, 27);
 }

.cartButton > button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 20px;
  font: 300;
  font-size: 1.2vmax;
  font-family: var(--Roboto-font-family);
  text-align: center;
}

.cartButton > button:hover {
  background-color: rgb(179, 66, 46);
  transform: scale(1.2);
}
.cartButton > button > svg {
  display:inline;
  width: 1vmax;
  height:  1vmax;
  margin-right: 6px;
  transition: transform 0.3s;
}