.productsHeading {
  margin: 1vmax auto;
  width: 15vw;
  border-bottom: 1px solid rgba(0, 0, 0, 0.171);
  padding: 2vmax;
  color: rgba(0, 0, 0, 0.678);
  font: 500 1.5 var(--Roboto-font-family);
  text-align: center;
}

.productsHeadingForNoRecord {
  margin: 1vmax auto;
  width: 30vw;
  border-bottom: 1px solid rgba(0, 0, 0, 0.171);
  padding: 2vmax;
  color: rgba(0, 0, 0, 0.678);
  font: 500 1.5 var(--Roboto-font-family);
  text-align: center;
}
.products {
  /* display: flex;
    flex-wrap: wrap;
    padding: 0 5vmax;
    justify-content: center;
    min-height: 30vh; */
  display: flex;
  margin: 2vmax auto;
  width: 80vw;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  min-height: 70vh;
  height: fit-content;
}

/*  ---------------------------------- Pagination.css  -------------------------------------*/

.paginationBox {
  display: flex;
  justify-content: center;
  margin: 6vmax;
}
.pagination {
  display: flex;
  justify-content: center;
  padding: 0;
}
.page-item {
  background-color: rgb(255, 255, 255);
  list-style: none;
  border: 1px solid rgba(0, 0, 0, 0.178);
  padding: 1vmax 1.5vmax;
  transition: all 0.3s;
  cursor: pointer;
}
.page-item:first-child {
  border-radius: 0 5px 5px 0;
}
.page-item:last-child {
  border-radius: 0 5px 5px 0;
}
.page-link {
  text-decoration: none;
  font: 300 0.7vmax var(--Roboto-font-family);
  color: rgb(0, 0, 0);
  transition: all 0.3s;
}
.page-item:hover {
  background-color: rgb(230, 230, 230);
}
.page-item:hover .page-link {
  color: rgb(80, 80, 80);
}
.pageItemActive {
  background-color: var(--primary-color);
}

.pageLinkActive {
  color: white;
}

/* ------------------------------------- Price Slider.css --------------------------------------- */
.filterBox {
  width: 10vmax;
  position: absolute;
  top: 10vmax;
  left: 1.5vmax;
}
.categoryBox {
  padding: 0%;
}
.category-link {
  list-style: none;
  color: rgba(0, 0, 0, 0.61);
  font: 400 1vmax var(--Roboto-font-family);
  margin: 0.4vmax;
  cursor: pointer;
  transition: all 0.5s;
  position: relative;
}
.category-link:hover {
  color: var(--primary-color);
}

.filterBox > fieldset {
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin: 0%;
}
.filterBox > fieldset > legend {
  font-size: 1vmax;
}

@media screen and (max-width: 768px) {
  .filterBox {
    width: 20vmax;
    position: static;
    margin: auto;
  }
  .page-link {
    font: 300 1.7vmax var(--Roboto-font-family);
  }
  .category-link {
    font: 400 1.8vmax var(--Roboto-font-family);
  }
  .filterBox > fieldset {
    width: 25vmax;
  }
  .filterBox > fieldset > legend {
    font-size: 2vmax;
  }
}

@media screen and (max-width: 600px) {
  .filterBox {
    width: 20vmax;
    position: static;
    margin: auto;
  }
  .page-link {
    font: 300 1.7vmax var(--Roboto-font-family);
  }
  .category-link {
    font: 400 2vmax var(--Roboto-font-family);
  }
  .filterBox > fieldset {
    width: 27vmax;
  }
  .filterBox > fieldset > legend {
    font-size: 2vmax;
  }
  .categoryContainer > ul >li >ul >li >span{
    font: 600 2.3vmax var(--Roboto-font-family) !important;
  }
  .categoryContainer > ul >li >ul >li  >ul li {
    font: 400 2vmax var(--Roboto-font-family) !important;
    margin: 0.5vmax !important;
  }
}


.categoryContainer ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.categoryContainer > ul >li >span{
  margin: 0;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  pointer-events: none;
}
.categoryContainer > ul >li a{
  color: rgba(0, 0, 0, 0.61);
}
.categoryContainer > ul >li >ul >li >span{
  pointer-events: none;
  /* color: blue !important; */
  color: rgba(0, 0, 0, 0.652);
  font: 600 1.2vmax var(--Roboto-font-family);
  margin: 0.4vmax;
}
.categoryContainer > ul >li >ul >li  >ul li {
  color: rgba(0, 0, 0, 0.61);
  font: 400 1vmax var(--Roboto-font-family);
  margin: 0.4vmax;
  cursor: pointer;
  transition: all 0.5s;
  position: relative;
}
.categoryContainer > ul >li >ul >li  >ul li:hover{
  color: #ff6347;
}

