* {
  margin: 0;
  scroll-behavior: smooth;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.redColor {
  color: red !important;
}

.greenColor {
  color: green !important;
}

.LocalMallIcon {
  color: white;
}
.mobLocalMallIcon {
  color: black;
}

body {
  cursor: url("./images//cursor.png"), auto;
}

/* style={{margin: "0 .5vmax",backgroundColor:'white',border:'1px solid rgba(0,0,0,0.256)',borderRadius:'5px',padding:'.3vmax'}} */

.toastCustomApp > button,
.toastCustomApp > a >button {
  margin: 0 0.5vmax;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.265);
  border-radius: 5px;
  padding: 0.5vmax 0.8vmax;
  float: right;
  text-decoration: none;
}

.toastCustomApp > a>button:hover {
  transform: scaleX(1.1);
  cursor: pointer;
  background-color: rgb(170, 224, 178) !important;
  color: white;
  border: none;
}
.toastCustomApp > button:last-child:hover {
  transform: scaleX(1.1);
  cursor: pointer;
  background-color: rgb(238, 170, 170) !important;
  color: white;
  border: none;
}
