.newProductContainer{
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(221, 221, 221);
    border-left: 1px solid rgba(0, 0, 0, 0.158);
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.newProductContainer > h1 {
    color: rgba(0, 0, 0, 0.733);
    font: 300 2rem var(--Roboto-font-family);
    text-align: center;
}
  .createproductForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 3vmax;
    justify-content: space-evenly;
    height: 70%;
    width: 40vh;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.267);
  }

  

  #createProductFormFile > input {
    display: flex;
    padding: 0%;
  }
  
  #createProductFormFile > input::file-selector-button {
    cursor: pointer;
    width: 100%;
    z-index: 2;
    height: 5vh;
    border: none;
    margin: 0%;
    font: 400 0.8vmax cursive;
    transition: all 0.5s;
    padding: 0 1vmax;
    color: rgba(0, 0, 0, 0.623);
    background-color: rgb(255, 255, 255);
  }
  
  #createProductFormFile > input::file-selector-button:hover {
    background-color: rgb(235, 235, 235);
  }
  #createProductFormImage {
    width: 100%;
    overflow: auto;
  }

  #createProductFormImage > img {
    width:3vmax;
    height: 3vmax;
    margin: 0 0.5vmax;
    /* border-radius: 100%; */
  }
  

  .createproductForm > div {
    display: flex;
    width: 100%;
    align-items: center;
  }
  .createproductForm > div > input,
  .createproductForm > div > select,
  .createproductForm > div > textarea {
    padding: 1vmax 4vmax;
    padding-right: 1vmax;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.267);
    border-radius: 4px;
    font: 300 0.9vmax cursive;
    outline: none;
  }
  
 
  .createproductForm > div > svg {
    position: absolute;
    transform: translateX(1vmax);
    font-size: 1.6vmax;
    color: rgba(0, 0, 0, 0.623);
  }

  #createProductBtn {
    border: none;
    background-color: var(--primary-color);
    color: white;
    font: 300 0.9vmax;
    font-family: var(--Roboto-font-family);
    width: 100%;
    padding: 0.8vmax;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 4px;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
  }
  

  #createProductBtn:hover {
    background-color: rgb(179, 66, 46);
  }
  

  
  @media screen and (max-width: 1024px) {
   
  
  }
  @media screen and (max-width: 768px) {
    .loginForm > a {
      font-size:1.5vmax;
    }
  
    .LogincreateproductBox {
      width: 55vh;
      height: 80vh;
    }
    
    .createproductForm > div > input,
    .createproductForm > div > select,
    .createproductForm > div > textarea {
      padding: 1.5vmax 5vmax;
      font: 300 1.7vmax cursive;
    }
    
    .createproductForm > div > svg {
      font-size: 2.3vmax;
    }
    #createProductFormImage > img {
      width: 5vmax;
      height: 5vmax;
      margin: 0 0.5vmax;
      /* border-radius: 100%; */
    }
    #createProductFormFile > input::file-selector-button {
      height: 5vh;
      font: 400 1.8vmax cursive;
    }
   
    
  
  }
  
  @media screen and (max-width: 600px) {
    .createproductForm {
      padding: 5vmax;
    }
    
    .createproductForm > div > input,
    .createproductForm > div > select,
    .createproductForm > div > textarea {
      padding: 2.5vmax 5vmax;
      font: 300 1.7vmax cursive;
    }
  
    .createproductForm > div > svg {
      font-size: 2.8vmax;
    }
    .loginForm > a {
      font: 500 2.5vmax "Gill Sans";
    }
  
    #createProductFormFile > img {
      width: 8vmax;
      border-radius: 100%;
    }
  
    #createProductFormFile > input::file-selector-button {
      height: 7vh;
      font: 400 1.8vmax cursive;
    }
    
    .createproductBtn {
      font: 300 1.9vmax var(--Roboto-font-family);
      padding: 1.8vmax;
    }
  }
  